@model WebApplication4.Models.Contaneir

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contaneir</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalDePartida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalDePartida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFicha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFicha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
